{% extends "base.html" %} {% block title %}Registro{% endblock %}

{% block content %}

    <form method="POST">
        <h3 align="center"> Registro </h3>
        <div class="form-group">
            <label for="email">Cuenta de correo</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu correo">
        </div>
        <div class="form-group">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Introduce tu nombre">
        </div>
        <div class="form-group">
            <label for="password1">Contraseña</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Introduce tu Contraseña">
        </div>
        <div class="form-group">
            <label for="password2">Confirma tu contraseña</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirma tu contraseña">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Hecho</button>
    </form>


{% endblock %}